<nav class="bg-white nav-div">

    <div class="nav-div bg-transparent"></div>

    <div class="nav-div position-fixed top-0 px-2 d-flex justify-content-between align-items-center bg-nav border-bottom backdrop-blur">
        <div class="d-flex">
            <img src="/assets/images/Delsol-logo-simple.webp" alt="" class="logo-nav me-2 me-sm-4 pointer" routerLink="/home">
    
            <div *ngIf="returnLink" class="return-link my-auto d-flex align-items-center pointer"
            [routerLink]="link">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill ease-in-out" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
                <p class="gray mb-0 ease-in-out font-small">Volver</p>
            </div>
        </div>
    
        <div class="d-flex align-items-center">
            <p class="mb-0 me-2 username">Mi Perfil</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill user pointer" viewBox="0 0 16 16"
            (click)="logout()">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
        </div>
    </div>

</nav>
