.logo-nav{
    width: 70px;
    height: 70px;
}
.nav-div {
    width: 100%;
    height: 86px;
}
.backdrop-blur {
    backdrop-filter: blur(6px);
    z-index: 30;
}
.bg-gray-80 {
    background-color: #f9fafcf3 !important;
}


@media only screen and (max-width: 576px) {
    .logo-nav {
        width: 60px;
        height: 60px;
    }
    .user {
        width: 35px;
        height: 35px;
    }
    .username {
        font-size: 17px !important;
    }
    .nav-div {
        height: 76px;
    }
}