.main-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: fixed;
    top: 0;
    z-index: 100;
}
.themed-shadow {
    -webkit-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    -moz-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
}
.chart {
    width: 450px;
}