<ng-content></ng-content>

<div class="gray-bg charts-container">
    
    <div class="p-3 bg-gray" id="charts">
        
        <div class="" #chartsContainer>
            
            <div class="w-100 d-flex flex-wrap justify-content-center flex-wrap gap-4 mt-4" id="page{{i}}"
            *ngFor="let chunk of chartsBySectionsArray; let i = index">

                <div class="poll-name w-100 sticky d-flex py-1">
                    <button class="action-btn pdf-btn rounded-1 d-flex justify-content-center align-items-center px-2 "
                    (click)="generateCanvas()">
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true" @fadeInOut
                        [ngClass]="loading ? '' : 'remove'"></span>
                        Descargar PDF
                    </button>
                    <p *ngIf="i == 0" class="red fs-3 mb-0 px-3 text-center me-2 w-100">{{nombreEncuesta}}</p>
                </div>
            
                <div class="themed-shadow chart rounded-2 bg-white d-flex flex-column align-items-center p-1 "
                *ngFor="let chart of chunk; let i = index">
                    <div class="w-100 mb-2">
                        <div class="d-flex gap-2 justify-content-start">
                            <p class="mb-0 text-success fs-6">Pregunta {{chart.pregunta}}</p>
                            <p class="mb-0 text-primary fs-6">{{chart.type}}</p>
                        </div>
                        <p class="red fs-6 text-center fw-semibold mb-0 mt-2">Respuestas de la pregunta {{i+1}}</p>
                    </div>
                    <div>
                        <canvas width="400" height="200"></canvas>    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
