<main>

    <app-header></app-header>
    
    <form action="" class="themed-container themed-form mx-auto mt-4">
        <h1 class="text-center red mb-4">Nuevo Usuario</h1>

        <div class="d-flex gap-5">
            <div class="d-flex flex-column w-100">
                <label for="nombre">Nombre</label>
                <input type="text" name="" id="nombre" class="mb-4">
            </div>

            <div class="d-flex flex-column w-100">
                <label for="mail">Correo</label>
                <input type="text" name="" id="mail" class="mb-4">
            </div>
        </div>
        
        <div class="d-flex gap-5">
            <div class="d-flex flex-column w-100">
                <label for="pass">Contraseña</label>
                <input type="password" name="" id="pass" class="mb-4">
            </div>

            <div class="d-flex flex-column w-100">
                <label for="pass2">Confirmar Contraseña</label>
                <input type="password" name="" id="pass2" class="mb-4">
            </div>
        </div>
        
        <div class="d-flex gap-5">
            <div class="d-flex flex-column w-100">
                <label for="tienda">Tienda</label>

                <select class="select" id="tienda">
                    <option selected value="0"></option>
                    <option value="1">Tienda 1</option>
                    <option value="2">Tienda 2</option>
                    <option value="3">Tienda 3</option>
                    <option value="4">Tienda 4</option>
                </select>
            </div>

            <div class="d-flex flex-column w-100">
                <label for="puesto">Puesto</label>
                
                <select class="select" id="puesto">
                    <option selected></option>
                    <option value="1">Gerente</option>
                    <option value="2">Encargado</option>
                </select>
            </div>
        </div>

        <div class="d-flex gap-5 justify-content-end mt-5">
            <button class="cancel-btn">Cancelar</button>
            
            <button class="action-btn">Crear</button>
        </div>
    </form>

</main>
