.main-container {
    min-height: 100vh;
}
form {
    padding: 40px 60px;
}
.form-container {
    width: fit-content;
}

.login-inputs-container {
    width: 300px;
}
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
    border: 2px solid rgb(228, 63, 63) !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;    
}