
<main class="main-container gray-bg">

    <div class="form-container mx-auto d-flex flex-column align-items-center">
        <img src="/assets/images/Delsol-logo-simple.webp" class="logo my-4" alt="">
    
        <form class="bg-white themed-container d-flex flex-column align-items-center">
            <h1 class="red text-center mb-5">Bienvenido</h1>
        
            <div class="d-flex flex-column login-inputs-container">
                <label for="user">Email o usuario</label>
                <input type="text" name="" id="user" class="mb-4">
        
                <label for="pass">Contraseña</label>
                <input type="password" name="" id="pass">
            </div>

            <button class="mt-5 action-btn">Ingresar</button>
        </form>
    </div>

</main>
