main {
    min-width: fit-content;
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-size: 32px;
}
input[type=checkbox] {
    height: 14px !important;
    width: 14px !important;
}
.checkbox-column {
    width: 34px;
}
.svg-hover {
    color: black !important;
}
.svg-hover:hover {
    color: #f4323e !important;
}
// button:hover {
//     border-color: rgb(3, 133, 3) !important;
//     -webkit-box-shadow: 2px 2px 24px 3px rgb(224, 255, 224, .6);
//     -moz-box-shadow: 2px 2px 24px 3px rgba(224, 255, 224, .6);
//     box-shadow: 2px 2px 24px 3px rgba(224, 255, 224, .6);
// }
.bg-edit {
    background-color: white;
}
.new-poll {
    -webkit-box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
    -moz-box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
    box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
}
.new-poll:hover {
    -webkit-box-shadow: 0px 2px 8px 2px #fdb3b8;
    -moz-box-shadow: 0px 2px 8px 2px #fdb3b8;
    box-shadow: 0px 2px 8px 2px #fdb3b8;
}
.icons-container {
    width: 40px;
    height: 34px;
}
.rotate-icon {
    transform: rotate(-180deg);
}
input, select {
    width: 100%;
    height: 29px !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    outline: none !important;
}
.chk {
    width: 40px;
    color: rgb(20, 20, 20) !important;
    background-color: white;
}
.chk:hover {
    background-color: #e7f2ff;
}
th, td {
    padding: 8px 10px !important;
    font-size: 1.1rem;
}
th {
    color: #8b8b8b;
}
td {
    color: #949494;
}
table svg {
    color: #f4323e;
}
.edit {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 600 !important;
}
.close-viewer {
    background-color: #fc5c67;
    color: white;
    stroke-width: 6px;
    position: fixed;
    top: 4px;
    right: 18px;
    border-radius: 9999px;
    padding: 6px;
}
.close-viewer:hover {
    background-color: #f4323e;
}
.main-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: fixed;
    top: 0;
    z-index: 100;
}
.icons:hover {
    background-color: #a7c4ff;
}



@media only screen and (max-width: 768px) {
    th, td {
        font-size: 14px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        line-height: 15px !important;
    }
    h1 {
        font-size: 24px !important;
    }
}
@media only screen and (min-width: 576px) {
    .font-small {
        font-size: 20px !important;
    }
}