* {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
main {
    min-width: 400px;
    min-height: 100vh;
}
h1 {
    font-size: 32px;
}
.new-poll {
    border: 2px solid #d0def0 !important;
    border-radius: 9999px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
    -moz-box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
    box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
}
.icons-container {
    width: 40px;
    height: 34px;
}
.rotate-icon {
    transform: rotate(-180deg);
}
input {
    width: 100%;
    height: 30px !important;
    border: 0px !important;
    border-radius: 4px !important;
    font-size: 16px !important;
}
.chk {
    width: 40px;
    border-radius: 4px;
    color: rgb(20, 20, 20) !important;
}
.chk:hover {
    background-color: #e7f2ff;
}
th, td {
    padding: 16px 10px !important;
    font-size: 1.1rem;
}
th {
    color: #8b8b8b;
}
td {
    color: #949494;
}
table svg {
    color: #f4323e;
}
.edit {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 600 !important;
}

@media only screen and (max-width: 768px) {
    th, td {
        font-size: 14px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        line-height: 15px;
    }
    h1 {
        font-size: 26px;
    }
}