<!-- -------------------------- Ventana codigo QR -------------------------- -->
<app-qr-code *ngIf="qrCode" [enlaceUrl]="enlaceUrl" [nombreQr]="nombreQr" @fadeInOut>
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg close-btn ease-in-out shadow" viewBox="0 0 16 16"
    (click)="closeQrWindow()">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>
</app-qr-code>

<!-- --------------------------- Ventana link QR --------------------------- -->
<div *ngIf="qrLink" class="dialog-container" @fadeInOut>
    <div class="d-flex flex-column gap-4 bg-white rounded-1 align-items-center p-4">
        <div class="position-relative">
            <div class="link-container d-flex gap-3 p-2 rounded-1">
                <p class="mb-0 text-slate fs-6 p-1 d-flex align-items-end text-break ">{{enlaceUrl}}</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="copy-icon pointer p-1 rounded-1 ease-in-out"
                (click)="copyText()">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                </svg>
            </div>
            <p *ngIf="showLink" class="link-message mb-0 fs-6 text-center lh-1">Enlace copiado</p>
        </div>

        <button (click)="closeLinkQr()" class="action-btn px-4" @fadeInOut>Cerrar</button>
    </div>
</div>

<!-- ------------------------- Ventana de mensajes ------------------------- -->
<div class="dialog-container" @fadeInOut
*ngIf="dialog" >
    <div class="dialog-box position-relative d-flex flex-column">
        <p class="mb-0 fs-5 text-dark text-center">¿Borrar encuesta<span *ngIf="multiSelected">s seleccionadas</span>?</p>
        <p class="mb-0 fs-6 text-dark text-center">Esta operación no se puede deshacer.</p>
        <div class="d-flex justify-content-center gap-4">
            <button class="cancel-btn" (click)="cancelDelete()">Cancelar</button>
            <button *ngIf="!multiSelected" class="delete-btn" (click)="proceedDelete()">Borrar</button>
            <button *ngIf="multiSelected" class="delete-btn" (click)="proceedDeleteSelectedPolls()">Borrar</button>
        </div>
    </div>
</div>

<!-- ------------------------- Ventana de graficas ------------------------- -->
<div class="charts-container " *ngIf="showChart">
    <app-polls-charts [chartsArray]="charts" [dataArray]="countedData" [nombreEncuesta]="pollTitle">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg red-btn-animated close-viewer shadow " viewBox="0 0 16 16"
        (click)="setShowChart()">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
    </app-polls-charts>
</div>

<!-- ------------------ Contenedor principal de la tabla ------------------- -->
<main *ngIf="!showChart" class="gray-bg position-relative pb-5">
    <app-header
        [returnLink]="true"
        [link]="'/home'"
    ></app-header>

    <div class="px-1 px-sm-2 px-md-3 px-lg-4 py-3 py-sm-4 d-flex justify-content-between">
        <h1 class="red mb-0 lh-1 d-flex align-items-center lh-1">Encuestas</h1>

        <div class="d-flex gap-3 align-items-center">
            <div *ngIf="export" class="delete action-btn pointer" (click)="deleteSelectedPolls()" @fadeInOut>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill " viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </div>
    
            <button class=" position-relative border-0 d-flex justify-content-center align-items-center
            ease-in-out w-poll rounded-pill" [ngClass]="newPoll ? 'action-btn' : 'green-btn-animated' ">
                <div *ngIf="newPoll" class="d-flex align-items-center justify-content-center position-absolute w-poll" @fadeInOut
                routerLink="/nueva-encuesta">
                    <div  class="text-dark icons-container position-relative mx-1 d-none d-sm-flex" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill ease-in-out text-light" viewBox="0 0 16 16">
                            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill rotate-icon position-absolute bottom-0 end-0 ease-in-out text-light" viewBox="0 0 16 16">
                            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                        </svg>
                    </div>
                    <p class="mb-0 me-1 lh-1 font-small text-light" >Nueva encuesta</p>
                </div>
    
                <div *ngIf="export" class="d-flex align-items-center justify-content-center position-absolute w-poll" @fadeInOut
                (click)="multisheetToExcel()">
                    <img  src="assets/images/iconos/excel-icon.png" alt="" class="excel-logo me-2 d-none d-sm-block" >
                    <p class="mb-0 lh-1 font-small text-light" >Exportar a excel</p>
                </div>
            </button>
        </div>
    </div>

    <!-- Buscar encuesta -->
    <div class="search-bar d-flex mx-1 mx-sm-2 mx-md-3 mx-lg-4 p-3 py-sm-4 bg-white gap-2 justify-content-between">
        <div class="d-flex gap-3">
            <input type="text" name="search" id="" placeholder="Buscar..." class=" ">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-search pointer p-1 rounded-1 icons ease-in-out text-dark" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </div>
    </div>

    <!-- tabla -->
    <div class="px-1 px-sm-2 px-md-3 px-lg-4 ">
        <table class="table table-hover border">
            <thead class="sticky">
                <tr class="bg-table-header">
                    <th *ngIf="editing === false" class="checkbox-column">
                        <input type="checkbox" name="" id="" class="pointer" #selectAll (change)="setAll(selectAll.checked)">
                    </th>
                    <th class="">Nombre</th>
                    <th *ngIf="editing === false" class="">Respuestas</th>
                    <th *ngIf="editing === false" class="">Fecha</th>
                    <th class="">Estado</th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th *ngIf="editing === false" class="icon-th d-none d-sm-table-cell"></th>
                    <th  class="icon-th d-table-cell d-sm-none"></th>
                </tr>
            </thead>

            <tbody class="bg-white">
                <tr *ngFor="let poll of pollsArray; let i = index"
                [ngClass]="poll.estado === 'cerrada' ? 'remove' : '' ">
                    <!-- ---------------------------- Data mostrada ---------------------------- -->
                    <td *ngIf="poll.done && editing == false" class="checkbox-column">
                        <input  type="checkbox" name="" id="checkbox{{i}}" class="pointer" [checked]="poll.checked" (change)="setChecked(i)">
                    </td>
                    <td *ngIf="poll.done">{{poll.titulo}}</td>
                    <td *ngIf="poll.done && editing == false">{{poll.respuestas.length}}</td>
                    <td *ngIf="poll.done">{{poll.fecha}}</td>
                    <td *ngIf="poll.done">{{poll.estado}}</td>

                    <!-- -------------------- Menu de opciones de encuesta --------------------- -->
                    <td *ngIf="poll.done" class="d-sm-none position-relative">
                        <svg *ngIf="!menu" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-gear-fill pointer p-1 rounded-1 icons ease-in-out text-dark" viewBox="0 0 16 16"
                        (click)="openPollMenu(i)">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                        <svg *ngIf="menu && !poll.pollMenu" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-gear-fill pointer p-1 rounded-1 icons ease-in-out invisible no-pointers-events text-dark" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-gear-fill text-dark pointer p-1 rounded-1 icons ease-in-out" viewBox="0 0 16 16"
                        (click)="openPollMenu(i)" [ngClass]="menu && poll.pollMenu ? 'd-block' : 'd-none' ">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>
                        <div *ngIf="poll.pollMenu" class="options-container border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-link text-dark pointer p-1 rounded-1 icons ease-in-out" viewBox="0 0 16 16"
                            (click)="generateQrLink(i)">
                                <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                            </svg>
                            <a [href]="urlSegura" [download]="nombreQr"
                            (click)="downloadQr($event, i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-qr-code-scan text-dark pointer p-1 rounded-1 icons  ease-in-out" viewBox="0 0 16 16">
                                    <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                                    <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                                    <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                                    <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                                    <path d="M12 9h2V8h-2v1Z"/>
                                </svg>
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-spreadsheet text-dark pointer p-1 rounded-1 icons  ease-in-out" viewBox="0 0 16 16"
                            (click)="exportToExcel([i])">
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill pointer p-1 rounded-1 icons text-dark ease-in-out" viewBox="0 0 16 16"
                            (click)="viewCharts(i)">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square pointer p-1 rounded-1 icons text-dark ease-in-out" viewBox="0 0 16 16"
                            (click)="edit(i)">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash3 text-dark pointer p-1 rounded-1 icons  ease-in-out " viewBox="0 0 16 16"
                            (click)="deletePoll(i)">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </div>
                    </td>

                    <!-- ------------------------- Iconos QR y enlace -------------------------- -->
                    <td *ngIf="poll.done && editing == false" class="icon-th d-none d-sm-table-cell" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-link pointer p-1 rounded-1 icons ease-in-out text-dark" viewBox="0 0 16 16"
                        (click)="generateQrLink(i)">
                            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                        </svg>
                    </td>
                    <td *ngIf="poll.done && editing == false" class="icon-th d-none d-sm-table-cell" >
                        <a [href]="urlSegura" [download]="nombreQr"
                        (click)="downloadQr($event, i)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-qr-code-scan pointer p-1 rounded-1 icons  ease-in-out text-dark" viewBox="0 0 16 16">
                                <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                                <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                                <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                                <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                                <path d="M12 9h2V8h-2v1Z"/>
                            </svg>
                        </a>
                    </td>

                    <!-- ----------------- iconos exportar, visualizar grafica ----------------- -->
                    <td *ngIf="poll.done && editing == false" class="icon-th d-none d-sm-table-cell">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-spreadsheet pointer p-1 rounded-1 icons text-dark ease-in-out" viewBox="0 0 16 16"
                        (click)="exportToExcel([i])">
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                        </svg>
                    </td>
                    <td *ngIf="poll.done && editing == false" class="icon-th d-none d-sm-table-cell">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-speedometer pointer p-1 rounded-1 icons text-dark ease-in-out" viewBox="0 0 16 16"
                        (click)="viewCharts(i)">
                            <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                            <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                        </svg>
                    </td>

                    <!-- ------------------------ iconos editar, borrar ------------------------ -->
                    <td *ngIf="poll.done && editing === false" class="icon-th d-none d-sm-table-cell">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square pointer p-1 rounded-1 icons text-dark ease-in-out" viewBox="0 0 16 16"
                        (click)="edit(i)">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </td>
                    <td *ngIf="poll.done && editing === false" class="icon-th d-none d-sm-table-cell"
                    (click)="deletePoll(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-trash-fill pointer p-1 rounded-1 icons text-dark ease-in-out " viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </td>

                    <!-- --------------------------- campos a editar --------------------------- -->
                    <td [ngClass]="poll.done ? 'd-none' : 'd-table-cell' ">
                        <input type="text" class=" d-table-cell" #nombre>
                    </td>
                    <td [ngClass]="poll.done ? 'd-none' : 'd-table-cell' ">
                        <div class="d-flex gap-2">
                            <select class="select d-table-cell" #tipo>
                                <option value=""></option>
                                <option value="activa">Activa</option>
                                <option value="inactiva">Inactiva</option>
                                <option value="cerrada">Cerrada</option>
                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x text-dark icons rounded-1 pointer " viewBox="0 0 16 16"
                            (click)="cancelEdit(i)"  *ngIf="editing === true && poll.done === false">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check text-dark icons rounded-1 pointer" viewBox="0 0 16 16"
                            (click)="setData(i, [nombre.value, tipo.value])"  *ngIf="editing === true && poll.done === false">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                        </div>
                    </td>
                    <!-- <td [ngClass]="poll.done ? 'd-none' : 'd-table-cell' " class="icon-th">
                    </td>
                    <td [ngClass]="poll.done ? 'd-none' : 'd-table-cell' " class="icon-th">
                    </td> -->
                    
                </tr>
            </tbody>
        </table>
    </div>

</main>


