main {
    min-width: fit-content;
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-size: 32px;
}
.svg-hover {
    color: black !important;
}
.svg-hover:hover {
    color: #f4323e !important;
}
.bg-edit {
    background-color: #ffc0c4;
}
.icons:hover {
    background-color: #a7c4ff;
}
.icons-container {
    width: 40px;
    height: 34px;
}
.rotate-icon {
    transform: rotate(-180deg);
}
input {
    width: 100%;
    height: 29px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    outline: none !important;
    border: 0px !important;
    border-bottom: 2px solid #888888 !important;
}
input:focus { border-bottom: 2px solid #ff985d !important;}

.chk {
    width: 40px;
    color: rgb(20, 20, 20) !important;
    background-color: white;
}
.chk:hover {
    background-color: #e7f2ff;
}
th, td {
    padding: 10px 5px !important;
    font-size: 1.1rem;
    line-height: 1;
}
th {
    color: white;
}
td {
    color: #646464;
}
table svg {
    color: #f4323e;
}
.edit {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: 600 !important;
}
.action-btn {
    width: fit-content !important;
}
.delete-btn {
    background: linear-gradient(45deg, #bb1924 50%, #f4323e 50%, #f4323e 100%);
    background-size: 222% auto;
    color: white;
    border: none;
    cursor: pointer;
    background-position: 100% 50%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 100px !important;
    border-radius: 9999px !important;
}
.cancel-btn {
    background: linear-gradient(45deg, #068526 50%, #06a72e 50%, #06a72e 100%);
    background-size: 222% auto;
    color: white;
    border: none;
    cursor: pointer;
    background-position: 100% 50%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    width: 100px !important;
}
.delete-btn:hover, .cancel-btn:hover { background-position: 0% 50%; }


@media only screen and (max-width: 768px) {
    th, td {
        font-size: 14px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        line-height: 15px;
    }
    h1 {
        font-size: 24px;
    }
}
@media only screen and (min-width: 576px) {
    .font-small {
        font-size: 20px;
    }
}