<main class="gray-bg w-100 pb-5">
    <app-header>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill dark-gray" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
            <a routerLink="/home" class="gray" [ngStyle]="editing ? noPointerEvs : pointerEvs">Volver</a>
        </div>
    </app-header>

    <div class="px-md-5">
        <div class="themed-container d-flex flex-column p-3 p-md-4 p-lg-5 mx-auto mt-5 bg-white" #alsPoll id="poll">
            <div class="d-flex justify-content-between justify-content-md-start w-bold mb-3 mb-md-4 mb-lg-5">
                <p class="red fs-3 mb-0 me-3 fw-bold lh-1">Encuesta prueba</p>
                <div class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill dark-gray" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                    <p class="mb-0 ms-1 sm-text fw-semibold">Editar</p>
                </div>
            </div>
            
            <!-- ----------------------------------------------------------------------- -->
            <!--                            Seccion preguntas                            -->
            <!-- ----------------------------------------------------------------------- -->
            <!-- ciclo for para renderizar preguntas de acuerdo al arreglo questionsArray -->
            <div class="d-flex w-100 gap-5 mb-4" id="pregunta" *ngFor="let question of questionsArray; let i = index" #seccionPreguntas>
    
                <!-- switch que renderiza el tipo de pregunta segun sea su caso -->
                <div class="w-100" [ngSwitch]="question.type">
    
                    <!-- ----------------------------- Case texto ------------------------------ -->
                    <div *ngSwitchCase="'texto'" class="d-flex flex-column w-100 mb-4"
                    [ngStyle]="question.done ? completed : edit"> <!-- fondo y borde rojo o azul -->
                        <div class="d-flex justify-content-between w-100 p-2">
                            <p class="mb-0 fs-6">Pregunta {{i + 1}}</p>
                            <div class="d-flex gap-1 align-items-center">
                                <button class="mb-0 bg-white bton d-flex justify-content-center align-items-center"
                                (click)="removeQuestion($event, i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"> <!-- active/desactiva eventos del cursor -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center"
                                (click)="createQuestion('texto', i, [textQuestion.value])"
                                *ngIf="!question.done"> <!-- renderiza el elemento si la pregunta no esta completada -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="editQuestion('texto', i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"
                                *ngIf="question.done"> <!-- renderiza el elemento si la pregunta esta completada -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveDown(i)"
                                [ngStyle]="(question.done && editing || i == questionsArray.length - 1) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveUp(i)"
                                [ngStyle]="(question.done && editing || i === 0) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex flex-column p-3 pt-0">
                            <div class="d-flex flex-column w-100">
                                <label for="{{question.question}}" class="red mb-0 text-center">{{question.question}}</label>
                                <input type="text" name="" id="{{question.question}}" class="mt-2" #textQuestion placeholder="Escribe tu pregunta aqui..."
                                [ngStyle]="question.done ? displayNone : displayBlock"> <!-- oculta/muestra el elemento si la pregunta esta completa -->
                            </div>
                            <div class="w-100 d-flex flex-column mt-3">
                                <label class="fs-6">Respuesta</label>
                                <textarea name="" placeholder="Demo..."></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center switch-bg px-3 py-2 mt-3" *ngIf="!question.done">
                            <div class="d-flex align-items-center check-container rounded-pill "
                            (click)="setRequired()" [ngStyle]="check ? right : left"> <!--activa/desactiva switch de pregunta obligatoria-->
                                <div class="check-control rounded-circle"></div>
                            </div>
                            <p class="fs-6 ms-2 mb-0 text-dark">Obligatoria</p>
                        </div>
                    </div>
                    
                    <!-- -------------------------- case calificacion -------------------------- -->
                    <div *ngSwitchCase="'calificacion'" class="w-100 gap-4" [ngStyle]="question.done ? completed : edit">
                        <div class="d-flex justify-content-between w-100 p-2">
                            <p class="mb-0 fs-6">Pregunta {{i + 1}}</p>
                            <div class="d-flex gap-1 align-items-center">
                                <button class="mb-0 bg-white bton d-flex justify-content-center align-items-center"
                                (click)="removeQuestion($event, i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center"
                                (click)="createQuestion('calificacion', i, [textQuestion.value, low.value, high.value])"
                                *ngIf="!question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="editQuestion('calificacion', i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"
                                *ngIf="question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveDown(i)"
                                [ngStyle]="(question.done && editing || i == questionsArray.length - 1) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveUp(i)"
                                [ngStyle]="(question.done && editing || i === 0) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="p-3 pt-0">
                            <div class="d-flex flex-column w-100 mb-3">
                                <label for="{{question.question}}" class="red mb-0 text-center">{{question.question}}</label>
                                <input type="text" name="" id="{{question.question}}" class="mt-2" #textQuestion [ngStyle]="question.done ? displayNone : displayBlock"
                                placeholder="Escribe tu pregunta aqui...">
                            </div>
                            <table class="table mb-1 bg-white">
                                <tbody class="w-100">
                                    <th>1</th> <th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th> <th>7</th> <th>8</th> <th>9</th> <th>10</th>
                                </tbody>
                            </table>
                            <div *ngIf="question.done" class="w-100 d-flex justify-content-between set-container">
                                <p class="mb-0 fs-6">{{question.low}}</p> <p class="mb-0 fs-6">{{question.high}}</p>
                            </div>
                            <div *ngIf="!question.done" class="w-100 d-flex justify-content-between set-container">
                                <p class="mb-0 fs-6">{{low.value}}</p> <p class="mb-0 fs-6">{{high.value}}</p>
                            </div>
                            <div class="w-100 d-flex justify-content-between flex-wrap gap-2 p-0 px-lg-4">
                                <input type="text" #low class="input-calificacion" placeholder="Calificación baja..."
                                (keyup)="0" value="" [ngStyle]="question.done ? displayNone : displayBlock">
                                <input type="text" #high class="input-calificacion" placeholder="Calificación alta..."
                                (keyup)="0" value="" [ngStyle]="question.done ? displayNone : displayBlock">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center switch-bg px-3 py-2 mt-3" *ngIf="!question.done">
                            <div class="d-flex align-items-center check-container rounded-pill "
                            (click)="setRequired()" [ngStyle]="check ? right : left">
                                <div class="check-control rounded-circle"></div>
                            </div>
                            <p class="fs-6 ms-2 mb-0 text-dark">Obligatoria</p>
                        </div>
                    </div>
    
                    <!-- ----------------------------- case opción ----------------------------- -->
                    <div *ngSwitchCase="'opcion'" class="w-100 gap-4"
                    [ngStyle]="question.done ? completed : edit">
                        <div class="d-flex justify-content-between w-100 p-2">
                            <p class="mb-0 fs-6">Pregunta {{i + 1}}</p>
                            <div class="d-flex gap-1 align-items-center">
                                <button class="mb-0 bg-white bton d-flex justify-content-center align-items-center"
                                (click)="removeQuestion($event, i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center"
                                (click)="createQuestion('opcion', i, [textQuestion.value])"
                                *ngIf="!question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="editQuestion('opcion', i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"
                                *ngIf="question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveDown(i)"
                                [ngStyle]="(question.done && editing || i == questionsArray.length - 1) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveUp(i)"
                                [ngStyle]="(question.done && editing || i === 0) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="p-3 pt-0">
                            <div class="d-flex flex-column w-100 mb-3">
                                <label for="{{question.question}}" class="red text-center">{{question.question}}</label>
                                <input type="text" name="" id="{{question.question}}" class="" #textQuestion
                                [ngStyle]="question.done ? displayNone : displayBlock" placeholder="Escribe tu pregunta aqui...">
                            </div>
    
                            <!-- Arreglo dinamico de opciones -->
                            <div class="" *ngIf="question.done"> <!-- Se muestra al finalizar la pregunta -->
                                <div class="d-flex align-items-center checkbox-container" id="checkbox-options-container"
                                *ngFor="let option of question.optionsArray">
                                    <label class="item-container"> {{option}}
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="" *ngIf="!question.done"> <!-- Se muestra al editar la pregunta -->
                                <div class="d-flex  checkbox-container" id="checkbox-options-container2"
                                *ngFor="let option of optionsArray; let optIndex = index">
                                    <label class="item-container me-2"> {{option}}
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x text-dark dlt mt-1" viewBox="0 0 16 16"
                                    (click)="removeOption(optIndex)">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                            </div>
    
                            <div class="d-flex align-items-center mt-3 w-100" *ngIf="!question.done">
                                <div class="d-flex flex-column flex-sm-row w-100">
                                    <div class="input-calificacion d-flex">
                                        <input type="text" class="new-option" #newOption placeholder="Nueva opción..." value=""
                                        (keyup.enter)="setOption(newOption.value)" (keyup.enter)="newOption.value=''">
                                        <div class="d-flex align-items-center bg-secondary rounded-end px-2 pointer"
                                        (click)="setOption(newOption.value)" (click)="newOption.value=''">
                                            <p class="mb-0 text-light font-small" >Agregar</p>
                                        </div>
                                    </div>
                                    <small class="text-danger ms-2 d-flex align-items-end">
                                        {{optionsArray.length < 2 ? 'Mínimo 2 opciónes' : ''}}
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center switch-bg px-3 py-2 mt-3" *ngIf="!question.done">
                            <div class="d-flex align-items-center check-container rounded-pill "
                            (click)="setRequired()" [ngStyle]="check ? right : left">
                                <div class="check-control rounded-circle"></div>
                            </div>
                            <p class="fs-6 ms-2 mb-0 text-dark">Obligatoria</p>
                        </div>
                    </div>
    
                    <!-- --------------------------- case estrellas ---------------------------- -->
                    <div *ngSwitchCase="'estrellas'" class="w-100 gap-4" [ngStyle]="question.done ? completed : edit">
                        <div class="d-flex justify-content-between w-100 p-2">
                            <p class="mb-0 fs-6">Pregunta {{i + 1}}</p>
                            <div class="d-flex gap-1  align-items-center">
                                <button class="mb-0 bg-white bton d-flex justify-content-center align-items-center"
                                (click)="removeQuestion($event, i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center"
                                (click)="createQuestion('estrellas', i, [textQuestion.value, bad.value, neutral.value, good.value])"
                                *ngIf="!question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="editQuestion('estrellas', i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"
                                *ngIf="question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveDown(i)"
                                [ngStyle]="(question.done && editing || i == questionsArray.length - 1) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveUp(i)"
                                [ngStyle]="(question.done && editing || i === 0) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="p-3 pt-0">
                            <div class="d-flex flex-column w-100 mb-4">
                                <label for="{{question.question}}" class="red text-center">{{question.question}}</label>
                                <input type="text" name="" id="{{question.question}}" class="" #textQuestion 
                                [ngStyle]="question.done ? displayNone : displayBlock" placeholder="Escribe tu pregunta aqui...">
                            </div>
                            <div class="d-flex justify-content-between mb-4 stars-cont mx-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
    
                            <div class="stars-cont d-md-flex justify-content-between mx-auto position-relative overflow-hidden"
                            *ngIf="question.done">
                                <p class="mb-3 mb-md-0">{{question.bad}}</p>
                                <p class="position-absolute top-50 start-50 translate-middle w-100 text-center">{{question.neutral}}</p>
                                <p class="mb-0 text-end">{{question.good}}</p>
                            </div>
                            <div class="w-100 px-0 px-md-5 d-md-flex justify-content-between mx-auto position-relative overflow-hidden"
                            *ngIf="!question.done">
                                <p class="mb-3 mb-md-0 fs-6">{{bad.value}}</p>
                                <p class="position-absolute top-50 start-50 translate-middle w-100 text-center fs-6">{{neutral.value}}</p>
                                <p class="mb-0 text-end fs-6">{{good.value}}</p>
                            </div>
                            <div class="stars-cont d-flex justify-content-between mt-4 mx-auto">
                                <input type="text" class="w-100 border-e-0" #bad (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                                <input type="text" class="w-100 rounded-0" #neutral (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                                <input type="text" class="w-100 border-s-0" #good (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center switch-bg px-3 py-2 mt-3" *ngIf="!question.done">
                            <div class="d-flex align-items-center check-container rounded-pill "
                            (click)="setRequired()" [ngStyle]="check ? right : left">
                                <div class="check-control rounded-circle"></div>
                            </div>
                            <p class="fs-6 ms-2 mb-0 text-dark">Obligatoria</p>
                        </div>
                    </div>
    
                    <!-- ------------------------------ case NPS ------------------------------- -->
                    <div *ngSwitchCase="'nps'" class="w-100 gap-4" [ngStyle]="question.done ? completed : edit">
                        <div class="d-flex justify-content-between w-100 p-2">
                            <p class="mb-0 fs-6">Pregunta {{i + 1}}</p>
                            <div class="d-flex gap-1 align-items-center">
                                <button class="mb-0 bg-white bton d-flex justify-content-center align-items-center"
                                (click)="removeQuestion($event, i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center"
                                (click)="createQuestion('nps', i, [textQuestion.value, bad.value, neutral.value, good.value])"
                                *ngIf="!question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="editQuestion('nps', i)"
                                [ngStyle]="(question.done && editing) ? noPointerEvs : pointerEvs"
                                *ngIf="question.done">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveDown(i)"
                                [ngStyle]="(question.done && editing || i == questionsArray.length - 1) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                    </svg>
                                </button>
                                <button class="mb-0 bton d-flex justify-content-center align-items-center" (click)="moveUp(i)"
                                [ngStyle]="(question.done && editing || i === 0) ? noPointerEvs : pointerEvs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-up-square" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="p-3 pt-0">
                            <div class="d-flex flex-column w-100 mb-4">
                                <label for="{{question.question}}" class="red text-center">{{question.question}}</label>
                                <input type="text" name="" id="{{question.question}}" class="" #textQuestion
                                [ngStyle]="question.done ? displayNone : displayBlock">
                            </div>
                            <div class="d-flex justify-content-between mb-4 stars-cont mx-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-emoji-expressionless" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm5 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                                </svg>
                            </div>
                            <div class="stars-cont d-md-flex justify-content-between mx-auto position-relative overflow-hidden"
                            *ngIf="question.done">
                                <p class="mb-3 mb-md-0">{{question.bad}}</p>
                                <p class="position-absolute top-50 start-50 translate-middle w-100 text-center">{{question.neutral}}</p>
                                <p class="mb-0 text-end">{{question.good}}</p>
                            </div>
                            <div class="w-100 px-0 px-md-5 d-md-flex justify-content-between mx-auto position-relative overflow-hidden"
                            *ngIf="!question.done">
                                <p class="mb-3 mb-md-0 fs-6">{{bad.value}}</p>
                                <p class="position-absolute top-50 start-50 translate-middle w-100 text-center fs-6">{{neutral.value}}</p>
                                <p class="mb-0 text-end fs-6">{{good.value}}</p>
                            </div>
                            <div class="stars-cont d-flex justify-content-between mt-4 mx-auto">
                                <input type="text" class="w-100 border-e-0" #bad (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                                <input type="text" class="w-100 rounded-0" #neutral (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                                <input type="text" class="w-100 border-s-0" #good (keyup)="0" [ngStyle]="question.done ? displayNone : displayBlock">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center switch-bg px-3 py-2 mt-3" *ngIf="!question.done">
                            <div class="d-flex align-items-center check-container rounded-pill "
                            (click)="setRequired()" [ngStyle]="check ? right : left">
                                <div class="check-control rounded-circle"></div>
                            </div>
                            <p class="fs-6 ms-2 mb-0 text-dark">Obligatoria</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- --------------------------- Nueva pregunta ---------------------------- -->
            <div class="new-q-container p-4" (click)="addQuestion()" id="newQ"
            [ngStyle]="disable ? disabled : enabled">
                <div class="d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus me-1 dark-gray" viewBox="0 0 16 16"
                    [ngStyle]="{'transform': visible ? 'rotate(0deg)' : 'rotate(45deg)'}">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <p class="mb-0 fw-bold dark-gray" *ngIf="visible">Nueva Pregunta</p>
                    <p class="mb-0 fw-bold dark-gray" *ngIf="!visible">Cancelar</p>
                </div>
        
                <!-- Menu de selección de tipo de pregunta -->
                <div class="w-100 select-type d-flex justify-content-center align-items-center gap-3 flex-wrap text-center"
                [ngStyle]="visible ? show : hide">
                    <p (click)="prototypeQuestion('opcion')">Opción</p>
                    <p (click)="prototypeQuestion('texto')">Texto</p>
                    <p (click)="prototypeQuestion('calificacion')">Calificación</p>
                    <p (click)="prototypeQuestion('estrellas')">Estrellas</p>
                    <p (click)="prototypeQuestion('nps')">NPS</p>
                </div>
            </div>
    
            <!-- botones -->
            <div class="d-flex gap-5 justify-content-end mt-5">
                <!-- <button class="cancel-btn">Guardar</button> -->
                <a routerLink="/encuesta-creada" [ngStyle]="editing ? noPointerEvs : pointerEvs">
                    <button class="action-btn">Publicar</button>
                </a>
            </div>
        </div>
    </div>

</main>

