* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
main {
    min-height: 100vh;
}
.themed-container {
    max-width: 880px;
}
.sm-text {
    font-size: 14px;
}
.add-img {
    border: 2px solid #d0def0 !important;
    border-radius: 10px;
    height: 40px !important;
    padding: 4px 10px;
}
.button {
    height: fit-content;
}
button {
    appearance: none !important;
    outline: none !important;
}
#pregunta button {
    border: none !important;
}
.new-q-container {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23D0DEF0FF' stroke-width='4' stroke-dasharray='10' stroke-dashoffset='37' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    appearance: none !important;
    outline: none !important;
    background-color: white;
    height: fit-content;
}
.new-q-container:active {
    outline: none !important;
    border: none !important;
}
.themed-container svg {
    color: #bac8da;
}
.form-section {
    width: 368px;
    height: 107px;
}
.question-type p {
    margin-bottom: 0px;
    font-size: 18px;
}
.select-type {
    height: fit-content;
}
textarea {
    appearance: none !important;
    border: 2px solid #d0def0 !important;
    border-radius: 10px !important;
    outline: none !important;
    resize: none !important;
    width: 100% !important;
    padding: 8px !important;
}
th {
    width: 10%;
    text-align: center;
    border: 1px solid #bac8da;
}
.set-container {
    height: 47px;
}
.check-container {
    height: 26px !important;
    padding: 0px 3px;
    width: 44px !important;
    cursor: pointer;
}
.check-control {
    height: 19px;
    width: 19px;
    background-color: rgb(100, 100, 100);
    z-index: 10;
}


/* The container */
.item-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.item-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}
  
/* On mouse-over, add a grey background color */
.item-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.item-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.item-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.item-container .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.new-option {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

