main {
    min-width: fit-content;
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-size: 32px;
}
.svg-hover {
    color: black !important;
}
.svg-hover:hover {
    color: #f4323e !important;
}
.new-poll {
    -webkit-box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
    -moz-box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
    box-shadow: 0px 2px 8px 2px rgb(210, 210, 210);
}
.new-poll:hover {
    -webkit-box-shadow: 0px 2px 8px 2px #fdb3b8;
    -moz-box-shadow: 0px 2px 8px 2px #fdb3b8;
    box-shadow: 0px 2px 8px 2px #fdb3b8;
}
.icons:hover {
    background-color: #a7c4ff;
}
.bg-edit {
    background-color: white;
}
button {
    padding-left: 0px !important;
}
button:hover {
    -webkit-box-shadow: 0px 2px 8px 2px #fdb3b8;
    -moz-box-shadow: 0px 2px 8px 2px #fdb3b8;
    box-shadow: 0px 2px 8px 2px #fdb3b8;
}
.icons-container {
    width: 40px;
    height: 34px;
}
.rotate-icon {
    transform: rotate(-180deg);
}
input, select {
    width: 100%;
    height: 29px !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    outline: none !important;
}
th, td {
    padding: 10px 5px !important;
    font-size: 1.1rem;
    line-height: 1;
}
th {
    color: #8b8b8b;
}
td {
    color: #949494;
}
.icons:hover {
    background-color: #a7c4ff;
}


@media only screen and (max-width: 768px) {
    th, td {
        font-size: 14px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        line-height: 15px;
    }
    h1 {
        font-size: 24px;
    }
}
@media only screen and (min-width: 576px) {
    .font-small {
        font-size: 20px;
    }
}