main {
    min-width: fit-content;
    width: 100%;
    min-height: 100vh;
}
h1 {
    font-size: 32px;
}
.svg-hover {
    color: black !important;
}
.svg-hover:hover {
    color: #f4323e !important;
}
.new-poll {
    border: 2px solid #d0def0 !important;
    border-radius: 9999px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
    -moz-box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
    box-shadow: 2px 2px 24px 3px rgba(234,237,242,1);
}
.bg-edit {
    background-color: #ffc0c4;
}
button {
    padding-left: 0px !important;
}
button:hover {
    border-color: rgb(3, 133, 3) !important;
    -webkit-box-shadow: 2px 2px 24px 3px rgb(224, 255, 224, .6);
    -moz-box-shadow: 2px 2px 24px 3px rgba(224, 255, 224, .6);
    box-shadow: 2px 2px 24px 3px rgba(224, 255, 224, .6);
}
.icons-container {
    width: 40px;
    height: 34px;
}
.rotate-icon {
    transform: rotate(-180deg);
}
input, select {
    width: 100%;
    height: 29px !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-size: 16px !important;
    outline: none !important;
}
th, td {
    padding: 10px 5px !important;
    font-size: 1.1rem;
    line-height: 1;
}
th {
    color: #8b8b8b;
}
td {
    color: #949494;
}


@media only screen and (max-width: 768px) {
    th, td {
        font-size: 14px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
        line-height: 15px;
    }
    h1 {
        font-size: 24px;
    }
}
@media only screen and (min-width: 576px) {
    .font-small {
        font-size: 20px;
    }
}