main {
    min-width: 100vw;
    min-height: 100vh;
}
img {
    width: 120px;
    height: 120px;
}
h1 {
    font-size: 36px;
}
.themed-container {
    width: 768px;
}
.stars-container {
    width: 400px;
}
svg:hover {
    fill: #f4323e;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
th {
    border: 1px solid gray;
    width: 10%;
    text-align: center;
}
th:hover {
    background-color: rgb(155, 155, 155);
}