<main>

    <app-header>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill dark-gray" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
            <a routerLink="/home" class="gray">Volver</a>
        </div>
    </app-header>
    
    <form action="" class="themed-container mx-auto mt-4 d-flex flex-column">
        <h1 class="text-center red mb-4">Nueva Encuesta</h1>

        <label for="id">Título de la encuesta</label>
        <input type="text" name="" id="id" class="mb-4">
        
        <label for="tienda">Selecciona una tienda</label>
        <select class="select mb-4" id="tienda">
            <option selected value="0"></option>
            <option value="1">Tienda 1</option>
            <option value="2">Tienda 2</option>
            <option value="3">Tienda 3</option>
            <option value="4">Tienda 4</option>
        </select>
        
        <label for="departamento">Selecciona un departamento</label>
        <select class="select mb-4" id="departamento">
            <option selected value="0"></option>
            <option value="1">Juguetes</option>
            <option value="2">Electrónica</option>
            <option value="3">Ropa</option>
        </select>
        
        <a routerLink="/prototipo-crear-cuestionario" class="mx-auto">
            <button class="action-btn mt-5 mx-auto">Crear</button>
        </a>
    </form>

</main>


