.link-btn {
    width: 150px !important;
    height: 120px !important;
    border-radius: 26px !important;
    border: 2px solid #d0def0 !important;
}

@media only screen and (max-width: 576px) {
    .link-btn {
        width: 120px !important;
        height: 100px !important;
    }
}

