<main>

    <app-header>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill dark-gray" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
            <a routerLink="/home" class="gray">Volver</a>
        </div>
    </app-header>
    
    <form action="" class="themed-container themed-form mx-auto mt-4">
        <h1 class="text-center red mb-4">Nueva Tienda</h1>

        <div class="d-flex gap-5">
            <div class="d-flex flex-column w-100">
                <label for="id">Id de Tienda</label>
                <input type="text" name="" id="id" class="mb-4">
            </div>

            <div class="d-flex flex-column w-100">
                <label for="tienda">Nombre de Tienda</label>
                <input type="text" name="" id="tienda" class="mb-4">
            </div>
        </div>
        
        <div class="d-flex gap-5">
            <div class="d-flex flex-column w-100">
                <label for="ubica">Ubicacióin</label>
                <input type="text" name="" id="ubica" class="">
                <div class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map mx-2 red" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                    </svg>
                    <a href="" class="text-dark">Ubicar en Mapa</a>
                </div>
            </div>
            <div class="w-100"></div>
        </div>
        
        

        <div class="d-flex gap-5 justify-content-end mt-5">
            <a routerLink="/home">
                <button class="cancel-btn">Cancelar</button>
            </a>
            <a routerLink="/home">
                <button class="action-btn">Crear</button>
            </a>
        </div>
    </form>

</main>

