<main class="gray-bg w-100">

    <app-header
        [returnLink]="true"
        [link]="'/home'"
    ></app-header>

    <div class="d-flex position-relative w-100">

        <div class="right-container w-100">
            <div class="bg-white px-1 pt-1 pb-4 d-flex flex-column align-items-center">
                <h1 class="red text-center mt-1 mb-3">Dashboard</h1>
                <!-- Grafica encuestas activas/inactivas -->
                <div class="d-flex flex-column flex-sm-row gap-2 gap-sm-4">
                    <div [ngClass]="pollExamChart ? 'd-block' : 'd-none' "
                    class="pollExamChartContainer">
                        <canvas #pollExamData width="280" height="200"></canvas>
                    </div>
                    <div [ngClass]="!pollExamChart ? 'd-block' : 'd-none' "
                    class="pollExamChartContainer d-flex centered-items ">
                        <div class="spinner-border text-warning spinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center gap-1">
                        <p class=" text-slate fs-4 fw-semibold text-center mb-0">Total Encuestas:
                            <span class="text-success">{{pollsArray.length}}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-select p-2 d-flex fw-semibold gap-3 ease-in-out flex-wrap">
                <p class="mb-0 text-slate">Seleccione encuesta:</p>
                <select name="" id="" class="px-1" #encuesta
                (change)="getPollCharts(encuesta.value)">
                    <option value=""></option>
                    <option *ngFor="let poll of pollsArray; let j = index" [value]="poll.titulo" class="text-center fs-6">
                        {{poll.titulo}}
                    </option>
                </select>
            </div>
            
            <app-polls-charts *ngIf="showCharts"
                [chartsArray]="charts"
                [dataArray]="countedData"
                [nombreEncuesta]="pollTitle"
                [dashboard]="true"
            ></app-polls-charts>
        </div>
    </div>
</main>
