
.themed-container {
    padding: 20px;
    font-weight: 500 !important;
}
.left-card {
    height: 202px !important;
}
p {
    font-size: 19px;
}
.left-container {
    width: 460px;

}
.sm-text{
    font-size: 13px;
}
.person-svg{
    width: 46px;
    height: 46px;
}
.map-img{
    width: 180px;
    height: 180px;
}

