main {
    min-height: 100vh;
    min-width: 320px;
}
.themed-container {
    padding: 20px;
    font-weight: 500 !important;
}
.left-card {
    width: 100%;
    max-width: 380px;
    height: 202px !important;
}
.right-card {
    width: 100%;
    max-width: 380px;
}
p {
    font-size: 19px;
}
.shirt {
    width: 26px;
    height: 26px;
}
.sm-text{
    font-size: 13px;
}
.person-svg{
    width: 46px;
    height: 46px;
}
.map-img{
    width: 180px;
    height: 180px;
}
a {
    text-decoration: none;
}
.themed-shadow {
    -webkit-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    -moz-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
}


@media only screen and (max-width: 768px) {
    p {
        font-size: 17px;
    }
}