main {
    min-height: 100vh;
    min-width: 320px;
}
.themed-container {
    padding: 20px;
    font-weight: 500 !important;
}
p {
    font-size: 19px;
}
.sm-text{
    font-size: 13px;
}
.person-svg{
    width: 46px;
    height: 46px;
}
.map-img{
    width: 180px;
    height: 180px;
}
a {
    text-decoration: none;
}
.pollExamChartContainer {
    width: 280px;
    height: 200px;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 6px;
}
.main-container {
    width: 100%;
    height: fit-content !important;
    overflow-y: auto !important;
    scroll-behavior: smooth;
    position: static !important;
    top: 0;
    z-index: 10;
}
.spinner {
    width: 60px;
    height: 60px;
}
.bg-select {
    background-color: rgb(234, 242, 255);
}
select {
    outline: none !important;
    height: 32px !important;
    border: 2px solid #cccccc !important;
    border-radius: 8px !important;
}
select:focus {
    border: 2px solid #ff985d !important;
}


@media only screen and (max-width: 576px) {
    p {
        font-size: 17px;
    }
}