@import '@angular/cdk/overlay-prebuilt.css';

html {
    background-color: #f9fafc !important;
}
main {
    min-height: 100vh !important;
    background-color: #f9fafc !important;
}
.ease-in-out {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
button[type="submit"]:disabled {
    background-color: rgb(127, 127, 127) !important;
    border-color: rgb(127, 127, 127) !important;
}

.visible { opacity: 1 !important; }

.invisible { opacity: 0 !important; }

.text-orange { color: rgb(255, 145, 0); }

.no-pointers-events { pointer-events: none !important; }

.capitalize { text-transform: capitalize !important; }

.word-break { word-break: break-all; }

.red { color: #f4323e !important; }

.gray { color: #949494 !important; }

.w-icons { width: 36px !important;}

.dark-gray { color: #747474 !important; }

.gray-bg { background-color: #f9fafc !important; }

.red-bg { background-color: #f4323e !important; }

.text-black { color: black !important; }

.cursor-grab { cursor: grab !important; }

.cursor-grab:active { cursor: grabbing !important; }

/* --------------------- Angular CDK drag & drop styles --------------------- */
.cdk-drop-list-dragging {
    cursor: grabbing !important;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
}

.rotate-90 { transform: rotate(90deg) !important; }

.logo {
    height: 120px;
    width: 120px;
}
.pointer { cursor: pointer !important; }

.font-small { font-size: 16px; }

.w-td { width: 30px !important; }

a { text-decoration: none; }

.themed-container {
    border-radius: 30px;
    -webkit-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    -moz-box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
    box-shadow: 4px 4px 32px 6px rgba(234,237,242,1);
}
.themed-form {
    padding: 24px 60px;
    width: 768px;
}
.text-label {
    color: #949494;
    font-size: 1.1rem;
}
p, label {
    color: #949494;
    font-size: 1.4rem;
}
label {
    margin-bottom: 0.6rem;
}
input[type=text], input[type=password], input[type=email],  input[type=number], .select {
    appearance: none !important;
    border: 2px solid #d0def0 !important;
    border-radius: 8px;
    height: 40px !important;
    outline: none;
    padding: 4px 10px;
}
input:focus, select:focus {
    border: 2px solid #ff985d !important;
}
button {
    appearance: none !important;
    outline: none !important;
}
textarea {
    resize: none;
    appearance: none !important;
    border: 2px solid #d0def0 !important;
    border-radius: 10px;
    outline: none;
    padding: 4px 10px;
}
textarea::placeholder, input::placeholder {
    color: #949494 !important;
    font-style: italic !important;
    font-weight: 400 !important;
}
.select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    cursor: pointer;
}
.select select {
    display: none;
}
.gray-btn, .action-btn, .cancel-btn {
    border-radius: 9999px;
    font-size: 1.1rem;
    width: 150px !important;
    padding: 4px;
}
.gray-btn {
    border: 1px solid #949494;
    color: #949494;
    background-color: white;
}
.action-btn, .cancel-btn {
    border: 1px solid #f4323e;
}
.action-btn {
    background-color: #f4323e;
    color: white;
}
.cancel-btn {
    background-color: white;
    color: #f4323e;
    border-color: #f4323e !important;
}
.sticky-element {
    position: sticky;
    top: 0;
    z-index: 10;
}
.bg-transparent { background-color: transparent !important;}

.opacity-0 { opacity: 0 !important; }

.fade-in {
    animation: fadeIn 0.1s ease-in-out;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

