<main class="gray-bg d-flex flex-column">

    <img src="/assets/images/Delsol-logo-simple.webp" alt="" class="my-4 mx-auto">

    <div class="bg-white themed-container p-5 mx-auto d-flex flex-column align-items-center">
        <h1 class="red text-center mb-5">¿Tienes algún comentario?</h1>

        <textarea name="" id="" cols="30" rows="10" placeholder="Escribe aquí..." class=""></textarea>

        <div class="d-flex justify-content-between mt-5 pt-5 w-100">
            <button class="gray-btn">Volver</button>
            <p class="mb-0">3 de 5</p>
            <button class="action-btn">Volver</button>
        </div>
    </div>

</main>

